body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  background-image: url("data:image/svg+xml...");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-image: url("imagenes/computadora.jpg");
  background-size: cover;  /* Asegura que la imagen cubra todo el espacio del header */
  background-position: center; /* Centra la imagen en el header */
  color: white; /* Cambia el color de texto a blanco para mejor visibilidad sobre el fondo */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Agrega una sombra a los textos para mejorar la visibilidad */
  padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
#desarrollador {
  color: #fff;
}
#desarrollador:hover {
  color:red;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
}

nav ul {
  list-style-type: none;
  margin: 4px;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #333;
  color: white;
  margin-bottom: 150px;
}

nav ul li {
  padding: 15px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

section {
  background-color: #727272;
  background-color: #151B44;
background: #fff;
background-attachment: fixed;
background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}


p, ul {
  line-height: 1.5;
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin-bottom: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

.social-icon {
  color: #fff;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.social-icon img {
  width: 40px;
  height: 40px;
}