/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para el encabezado y la navegación */
header {
  position: relative;
  margin-bottom: 20px;
}
.header-background {
  position: relative;
}

.header-content {
  position: absolute;
top: 53%;
left: 21%; /* Ajuste para mantener la posición a la izquierda */
  transform: translate(-50%, -50%);
  text-align: left; /* Cambio de alineación a la izquierda */
  color: #fff;
}

.mi-foto {
  width: 120px; /* Ajuste el tamaño de la foto */
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.3s; /* Transición para el cambio de tamaño */
}

.header-content h1 {
  font-size: 24px; /* Ajuste de tamaño para pantallas pequeñas */
  margin: 5px 0;
}

.header-content p {
  font-size: 16px; /* Ajuste de tamaño para pantallas pequeñas */
  margin: 0;
}

.img-fondo {
  width: 100%;
  height: auto;
  display: block;
}
/* Estilos para dispositivos móviles */
@media (max-width: 800px) {
  .header-content {
  left: 41%; /* Ajuste la posición a la izquierda */
      transform: translateX(-50%) translateY(-50%); /* Centra verticalmente y ajusta horizontalmente */
      width: 80%; /* Ajuste el ancho */
  }

  .mi-foto {
      width: 100px; /* Ajusta el tamaño de la foto */
      height: 100px;
  }
}



nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo {
  width: 68px;
  height: auto;
  border-radius: 50%;
}

.menu {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
  color: white;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

/* Estilos para dispositivos móviles */
/* Estilos para dispositivos móviles con ancho de pantalla igual o menor a 640px */
@media (max-width: 640px) {
  /* Estilos para el contenedor de la barra de navegación */
  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 10px; /* Reduce el padding para un diseño más compacto */
  }

  /* Estilos para el menú */
  .menu {
    display: block;
    margin-right: 3px; /* Ajusta el margen derecho del menú */
  }

  /* Estilos para el logo */
  .logo {
    margin-left: 10px; /* Ajusta el margen izquierdo del logo */
    margin-right: auto; /* Mueve el logo hacia la derecha */
  }

  /* Ocultar enlaces de navegación */
  .nav-links {
    display: none;
  }
}


/* Estilos para la sección de biografía */
#biografia {
  background-color: #ffffff;
  padding: 60px 0;
  text-align: center;
}
#fondo-biografia {
height: auto!important; 

}

#biografia h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

#biografia p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #777;
}

#biografia p:last-child {
  margin-bottom: 0;
}

/* Estilos para la sección de proyectos */
#proyectos {
  background-color: #f5f5f5;
  padding: 60px 0;
  text-align: center;
}

#proyectos h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

#proyectos p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #777;
}

#proyectos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#proyectos ul li {
  font-size: 18px;
  margin-bottom: 15px;
}

#proyectos ul li:before {
  content: '\2022'; /* Código Unicode para el símbolo de viñeta */
  color: #007bff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


.contenedor {
position: relative;
width: 100%;
margin: 0 auto;
transition: all 0.3s ease-out;
margin-top: 50px;
margin-bottom: 20px;
display: block;
}

.contenedor-cards {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.contenedor-cards .contenedor-card-item {
--webkit-box-sizing: border-box;
--moz-box-sizing: border-box;
--o-box-sizing: border-box;
width: 25%;
height: 200px; /* alto fijo */
margin: 10px; /* Márgenes iguales en todas las direcciones */
background: #ffffff;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
border-radius: 10px;
overflow: hidden;
transition: all 0.3s ease-out, transform 0.3s ease-in-out;
cursor: help;
cursor: pointer;
}

.contenedor-cards .contenedor-card-item:hover {
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
--webkit-transform: translateY(-10px) scale(1.05);
--ms-transform: translateY(-10px) scale(1.05);
--o-transform: translateY(-10px) scale(1.05);
transform: translateY(-10px) scale(1.05);
}

.contenedor-card-item-wrapper {
overflow: hidden;
position: relative !important;
background: #3E2723;
border-radius: 5px;
}

.contenedor-card-item img {
width: 100%;
height: 200px;
object-fit: cover;
position: relative;
top: 0;
-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
border-radius: 5px;
}

.contenedor-card-item .contenedor-info {
position: absolute;
width: 100%;
height: 70px;
bottom: -70px;
padding: 15px;
-webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.contenedor-card-item .contenedor-info .fondo {
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.73) 53%, rgba(0,0,0,0.88) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

.contenedor-card-item .contenedor-info .info {
color: #fff;
position: relative;
z-index: 500;
padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .titulo {
margin: 0;
font-size: 20px;
font-weight: bold;
}

.contenedor-card-item .contenedor-info .info .categoria {
display: block;
font-size: 14px;
color: #757575;
}

.contenedor-card-item:hover .contenedor-info {
bottom: 0;
}

.contenedor-card-item:hover img {
top: -30px;
-webkit-transform: rotate(-5deg) scale(2);
-ms-transform: rotate(-5deg) scale(2);
-o-transform: rotate(-5deg) scale(2);
transform: rotate(-5deg) scale(2);
}

@media screen and (max-width: 640px) {
.contenedor-card-item:hover img {
  top: -30px;
  -webkit-transform: rotate(-5deg) scale(1.3);
  -ms-transform: rotate(-5deg) scale(1.3);
  -o-transform: rotate(-5deg) scale(1.3);
  transform: rotate(-5deg) scale(1.3);
}

.contenedor-card-item .contenedor-info {
  bottom: 0;
}
}

@media screen and (max-width: 640px) {
.contenedor {
  width: 95%;
}

.contenedor-cards .contenedor-card-item {
  width: 48%;
  height: 300px;
  margin: 1%;
}
}

@media screen and (max-width: 640px) {
.contenedor-cards .contenedor-card-item {
  width: 60%;
  height: 300px;
  margin: 10px auto;
}
}

@media screen and (max-width: 640px) {
.contenedor {
  width: 90%;
}

.contenedor-cards .contenedor-card-item {
  width: 90%;
  height: 300px;
}
}

@media screen and (max-width: 640px) {
.contenedor {
  width: 100%;
}

.contenedor-cards .contenedor-card-item {
  height: 300px;
}
}
/* Estilos para la sección de habilidades */
#habilidades {
  background-color: #ffffff;
  padding: 60px 0;
  text-align: center;
}

#habilidades h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

#habilidades p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #777;
}

#habilidades ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#habilidades ul li {
  font-size: 18px;
  margin-bottom: 15px;
}

#habilidades ul li:before {
  content: '\2022'; /* Código Unicode para el símbolo de viñeta */
  color: #007bff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#habilidades p:last-child {
  margin-bottom: 0;
}


/* Estilos para la sección de contacto */
#contacto {
  background-color: #f5f5f5;
  padding: 60px 0;
  text-align: center;
}

#contacto h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

#contacto p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #777;
}

#contacto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#contacto ul li {
  font-size: 18px;
  margin-bottom: 15px;
}

#contacto a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

#contacto a:hover {
  color: #0056b3;
}


/*footer*/
/* Estilos del footer */
.footer {
  background-color: #292b2c;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  display: block;
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-icon img {
  width: 100%;
  height: 100%;
}

.social-icon:hover {
  transform: scale(1.2);
}

.footer-copy {
  margin-top: 20px;
  font-size: 14px;
}